*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.main-heading{
    /* margin-bottom: 20px; */
    /* font-size: 22px; */
    /* line-height: 28px; */
    font-weight: 700;
    color: #7c7373;
}
.select-operator{
    display:flex;
    /* align-items: center; */
}
.select-operator h5{
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    color: #7c7373;
    margin: 0px;
}
.list-of-operator .form-select{
  width: 200px;
  height: 45px;
  border: 2px solid #000;
  border-radius: 0px;
  margin: 0px 10px;
}
.custom-pagination{
    display:flex;
    align-items: center;
    justify-content:flex-end;
}

.btn-sml {
    height: 4vh;
}


.btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
}

.btn {
    margin-bottom: 10px;
}

.primary-btn {
    /* height: 15px; */
    width: 60px;
    color: #fff;
    padding: 2px 8px;
    border-radius: 4px;
    overflow: hidden;
    background: #1976d2;
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 12%), 0 2px 2px 0 rgb(0 0 0 / 24%);
}
.danger-btn {
    /* height: 15px; */
    width:70px;
    color: #fff;
    padding: 2px 8px;
    border-radius: 4px;
    overflow: hidden;
    background: #FF3D57;
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 12%), 0 2px 2px 0 rgb(0 0 0 / 24%);
    font-size: smaller;
}
.active-btn {
    /* height: 15px; */
    width: 70px;
    color: #fff;
    padding: 2px 8px;
    border-radius: 4px;
    overflow: hidden;
    background: #58c658;
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 12%), 0 2px 2px 0 rgb(0 0 0 / 24%);
    font-size: smaller;
}

.search-box {
    width: auto;
}

.cursor-pointer {
    cursor: pointer
}

.center-loader {
    position: absolute;
    display: flex;
    top: 40%;
    left: 45%;
    z-index: 10;
    display: flex;
    
}